<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chloe.homework.mapper.HomeworkSubmitMapper">

    <select id="findByHomeworkAndStudent"
            resultType="com.chloe.homework.entity.HomeworkSubmit">

        select *
        from homework_submit
        where homework_id = #{homeworkId}
          and student_id = #{studentId}

    </select>

    <insert id="insert">

        insert into homework_submit
        (
            homework_id,
            student_id,
            submit_content,
            submit_time,
            status
        )
        values
            (
                #{homeworkId},
                #{studentId},
                #{submitContent},
                #{submitTime},
                #{status}
            )

    </insert>

    <select id="findById"
            resultType="com.chloe.homework.entity.HomeworkSubmit">

        select *
        from homework_submit
        where id = #{id}

    </select>

    <update id="updateGradeStatus">

        update homework_submit
        set grade_status = #{gradeStatus}
        where id = #{id}

    </update>

    <select id="countByHomeworkId"
            resultType="java.lang.Integer">

        select count(*)
        from homework_submit
        where homework_id = #{homeworkId}

    </select>

    <select id="getSubmitList"
            resultType="com.chloe.homework.vo.HomeworkSubmitVO">

        select
            hs.id,

            h.title as homework_title,

            c.course_name,

            u.real_name as student_name,

            hs.submit_content,

            hs.submit_time,

            hs.grade_status,

            sr.score

        from homework_submit hs

                 left join homework h
                           on hs.homework_id = h.id

                 left join course c
                           on h.course_id = c.id

                 left join user u
                           on hs.student_id = u.id

                 left join score_record sr
                           on hs.id = sr.submit_id

        order by hs.id desc

    </select>
</mapper>