<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chloe.homework.mapper.HomeworkMapper">

    <insert id="insert">

        insert into homework
        (
            title,
            content,
            course_id,
            teacher_id,
            publish_time,
            deadline,
            status
        )
        values
            (
                #{title},
                #{content},
                #{courseId},
                #{teacherId},
                #{publishTime},
                #{deadline},
                #{status}
            )

    </insert>

    <select id="getHomeworkList"
            resultType="com.chloe.homework.vo.HomeworkVO">

        select

            h.id                as id,

            h.title             as title,

            h.content           as content,

            h.course_id         as courseId,

            c.course_name       as courseName,

            h.teacher_id        as teacherId,

            u.real_name         as teacherName,

            h.deadline          as deadline,

            h.status            as status

        from homework h

                 left join course c
                           on h.course_id = c.id

                 left join user u
                           on h.teacher_id = u.id

        order by h.id desc

    </select>

    <select id="findById"
            resultType="com.chloe.homework.entity.Homework">

        select *
        from homework
        where id = #{id}

    </select>

    <update id="update">

        update homework

        <set>

            title = #{title},

            content = #{content},

            course_id = #{courseId},

            deadline = #{deadline},

            status = #{status}

        </set>

        where id = #{id}

    </update>

    <delete id="deleteById">

        delete
        from homework
        where id = #{id}

    </delete>

</mapper>